body {
	font-family: futura, sans-serif;
	font-weight: bold;
	font-size: 32pt;
}

#container {
	display: flex;
	flex-direction: row;
}

.map-container {
	width: 900px;
	height: 550px;
}

nav {
	padding: 20px;
}

.color-bar {
/*	width: 300px;
	height: 30px;*/
}

path {
	fill: #eee;
	stroke: #fff;
}

.backwards {
	width: 30px;
	height: 30px;
	content: url('left.svg');
}

.forwards {
	width: 30px;
	height: 30px;
	content: url('right.svg');
}

.popup {
	display: none;
	position: absolute;
	font-size: .5em;
	margin: 20px 0;
}

.popup p {
	margin: 5px 0;
	font-size: .8em;
}

.popup h2 {
	margin: 0 0 10px 0;
}

.popup .eyebrow {
	text-transform: uppercase;
	font-size: .8em;
}

.winner {
	background-color: yellow;
}

.winner::before {
/*	width: 10px;
	height: 10px;
	content: url('check.svg');*/
}