body {
	font-family: futura, sans-serif;
	font-weight: bold;
	font-size: 32pt;
}

#container {
	display: flex;
	flex-direction: row;
}

.map-container {
	width: 900px;
	height: 550px;
}

.map-container svg {
	width: inherit;
	height: inherit;
}

.state {
	fill: #eee;
	stroke: #fff;
}

nav {
	padding: 20px;
}

form {
	font-size: .6em;
	margin-left: 100px;
}

form input {
	/*height: 20px;*/
	width: 200px;
	margin-right: 20px;
}

form select {
	/*height: 20px;*/
	margin-right: 20px;
}

form label {
	font-size: .8em;
}

.button {
	padding: 10px;
	text-transform: uppercase;
	background-color: #ddd;
	letter-spacing: 0.06em;
	font-weight: bold;
	font-size: .6em;
	margin-top: 10px;
	width: 120px;
	text-align: center;
}

pre {
	font-size: 10pt;
}

.color-bar {
	overflow: visible;
}

.backwards {
	width: 30px;
	height: 30px;
	content: url('left.svg');
}

.forwards {
	width: 30px;
	height: 30px;
	content: url('right.svg');
}

.popup {
	display: none;
	position: absolute;
	font-size: .5em;
	margin: 20px 0;
}

p {
	margin: 5px 0;
	font-size: .8em;
}

.popup h2 {
	margin: 0 0 10px 0;
}

.eyebrow {
	text-transform: uppercase;
	font-size: .8em;
}

.winner {

}